.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 70%;
  padding: 1rem;
}

span {
  padding: 0.5rem;
  font-size: 2rem;
}

body {
  width: 80%;
  margin: auto;
}
html {
  margin-top: 10%;
  background-image: url(https://i.redd.it/ts7vuoswhwf41.jpg);
}

.App {
  background-color: aliceblue;
  padding: 2rem;
}

.emoji_list {
  cursor: pointer;
}
