.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  width: 70%;
  padding: 1rem;
}

span {
  padding: 0.5rem;
  font-size: 2rem;
}

body {
  padding-top: 2rem;
  width: 80%;
  margin: auto;
}
html {
  background-image: url(https://www.wallpapertip.com/wmimgs/51-517054_whatsapp-background-images-hd.jpg);
}

.App {
  background-color: aliceblue;
  padding: 2rem;
}
